<div class="o-grid">
  <div class="o-grid__cell">
    <ng-container *ngIf="freeChest">
      <div class="c-card" (click)="openSpecialChest(freeChest)">
        <div class="c-card__item">{{chestTypeEnum[freeChest.typeId]}} Count: {{freeChestsCount}}</div>
        <div class="c-card__item" *ngIf="freeChest.duration > 0">
          <count-down [state]="freeChest.state" [duration]="freeChest.duration" (onFinish)="onSpecialDuration($event, freeChest)"></count-down>
        </div>
        <div class="c-card__item">
          <img class="o-image" src="/img/chest.png" width="100px"/>
        </div>
      </div>
    </ng-container>
  </div>
  <div class="o-grid__cell">
    <ng-container *ngIf="crownChest">
      <div class="c-card" (click)="openSpecialChest(crownChest)">
        <div class="c-card__item">{{chestTypeEnum[crownChest.typeId]}}</div>
        <div class="c-card__item" *ngIf="crownChest.duration > 0">
          <count-down [state]="crownChest.state" [duration]="crownChest.duration" (onFinish)="onSpecialDuration($event, crownChest)"></count-down>
        </div>
        <div class="c-card__item" *ngIf="crownChestUserCtn == crownChestTotalCtn">
          <img class="o-image" src="/img/chest.png" width="100px"/>
        </div>
        <div class="c-card__item" *ngIf="crownChestUserCtn != crownChestTotalCtn">
          <p>Для разблокировки выиграйте: {{crownChestTotalCtn}} раз.</p>
          <ngx-progress [value]="crownChestUserCtn" [max]="crownChestTotalCtn"></ngx-progress>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div class="o-grid">
  <div class="o-grid__cell">
    <div class="u-center-block c-clashword-block">
      <div class="u-center-block__content">
        <a class="c-button c-button--ghost" [routerLink]="['/cw/battle']">Battle</a>
        <a class="c-button c-button--ghost" [routerLink]="['/cw/carts']">User Carts</a>
      </div>
    </div>
  </div>
</div>

<div class="o-grid" *ngIf="normalChests">
  <div class="o-grid__cell" *ngFor="let chest of normalChests">
    <div *ngIf="chest; then showChest else nullChest"></div>
    <ng-template #showChest>
      <div class="c-card">
        <div class="c-card__item">{{chestTypeEnum[chest.typeId]}}. Арена {{chest.arena}}.</div>
        <div class="c-card__item">{{countDownStateEnum[chest.state]}}</div>
        <div class="c-card__item" *ngIf="chest.state === countDownStateEnum.Work && chest.duration > 0">
          <count-down [state]="chest.state" [duration]="chest.duration" (onFinish)="onNormalDuration(chest)"></count-down>
        </div>
        <div *ngIf="chest.state === countDownStateEnum.Stop">
          <div *ngIf="chest.statusId === chestStatusEnum.UnLocked; then showOpenChest else showUnlockChest"></div>
        </div>
        <div class="c-card__item" *ngIf="chest.state === countDownStateEnum.Stop && chest.duration > 0">
          Время открытия: {{chest.duration}}
        </div>
        <div class="c-card__item">
          <img class="o-image" src="/img/chest.png" width="100px"/>
        </div>

        <ng-template #showOpenChest>
          <div class="c-card__item">
            <button type="button" class="c-button" (click)="openNormalChest(chest)">Открыть сундук</button>
          </div>
        </ng-template>
        <ng-template #showUnlockChest>
          <div class="c-card__item">
            <button type="button" class="c-button" (click)="unlockNormalChest(chest)">Разблокировать сундук</button>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<div *ngIf="userCarts" class="o-drawer u-highest o-drawer--top o-drawer--visible">
  <div class="c-card">
    <header class="c-card__header">
      <h2 class="c-heading">
        Получены карты:
      </h2>
    </header>
    <div class="c-card__body">
      <div class="o-grid o-grid--wrap">
        <div class="o-grid__cell o-grid__cell--width-25" *ngFor="let userCart of userCarts">
          <div class="c-card u-highest c-card--grouped">
            <div class="c-card__item c-card__item--brand">Слово: {{userCart.word}}</div>
            <div class="c-card__item">Уровень: {{userCart.level}}</div>
            <div class="c-card__item">Тип: {{cartTypeEnum[userCart.typeId]}}</div>
            <div class="c-card__divider"></div>
            <div class="c-card__item">AttackTower: {{userCart.additional.attackTower}}</div>
            <div class="c-card__item">AttackShield: {{userCart.additional.attackShield}}</div>
            <div class="c-card__item">RepairTower: {{userCart.additional.repairTower}}</div>
            <div class="c-card__item">RepairShield: {{userCart.additional.repairShield}}</div>
            <div class="c-card__item c-card__item--divider">{{cartSpecialEnum[userCart.additional.specialId]}}: {{userCart.additional.specialValue}}</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="c-card__footer">
      <button (click)="closeCarts()" class="c-button c-button--ghost" type="button">Close</button>
    </footer>
  </div>
</div>

<ng-template #nullChest>
  <div class="c-card">
    <div class="c-card__item">Место для сундука</div>
  </div>
</ng-template>
