<loading-indicator></loading-indicator>

<ng-container *ngIf="currentGame">
  <div *ngIf="currentGame.IsPlay" class="c-clashword-bg">
    <div class="o-grid">
      <div class="o-grid__cell">
        <p class="c-paragraph">User Id: {{currentUserId}}</p>
      </div>
      <div class="o-grid__cell">
        <p class="c-paragraph">Current User Id: {{currentGame.CurrentUserId}}</p>
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell">
        <p class="c-paragraph">Owner Id {{currentGame.Owner.UserId}}</p>
      </div>
      <div class="o-grid__cell">
        <p class="c-paragraph">User Id {{currentGame.User.UserId}}</p>
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--width-15">
        {{userOpponent.UserName}} <span class="c-badge">{{userOpponent.Level}}</span>
        <br/> {{userOpponent.CurrentPoints}} <img src="/assets/svg/trophy-star.svg" width="12px"> {{userOpponent.Trophies}}
        <ngx-progress [value]="userOpponent.TowerCurrent" [max]="userOpponent.TowerPoints" [size]="'x-super'"></ngx-progress>
        <div *ngIf="userOpponent.MessageModel" class="c-bubble c-bubble--bottom">
          <ng-container *ngIf="userOpponent.MessageModel.isImage">
            <img src="userOpponent.MessageModel.text">
          </ng-container>
          <ng-container *ngIf="!userOpponent.MessageModel.isImage">
            {{userOpponent.MessageModel.text}}
          </ng-container>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--width-70">
        <count-down *ngIf="currentGame.IsPlay" [state]="gameState" [duration]="currentGame.Duration" (onFinish)="onFinish($event)"></count-down>
      </div>
      <div class="o-grid__cell o-grid__cell--width-15">
        {{userInfo.UserName}} <span class="c-badge">{{userInfo.Level}}</span>
        <br/> {{userInfo.CurrentPoints}} <img src="/assets/svg/trophy-star.svg" width="12px"> {{userInfo.Trophies}}
        <ngx-progress [value]="userInfo.TowerCurrent" [max]="userInfo.TowerPoints" [size]="'x-super'"></ngx-progress>
        <div *ngIf="userInfo.MessageModel" class="c-bubble c-bubble--bottom">
          <ng-container *ngIf="userInfo.MessageModel.isImage">
            <img src="userInfo.MessageModel.text">
          </ng-container>
          <ng-container *ngIf="!userInfo.MessageModel.isImage">
            {{userInfo.MessageModel.text}}
          </ng-container>
        </div>
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell o-grid__cell--width-15">
        <div class="c-clashword__shield c-clashword__shield--right">
          <ngx-progress [value]="userOpponent.ShieldCurrent" [max]="userOpponent.ShieldPoints" [css]="'c-progress__bar--warning'" [orientation]="'c-progress-vertical'"></ngx-progress>
        </div>
        <div class="c-alerts c-clashword__toasts c-clashword__toasts--right">
          <ng-container *ngFor="let ownerCart of userOpponent.Carts">
            <div *ngIf="ownerCart.TypeId == cartTypeEnum.Legendary" class="c-alert c-alert--warning">{{ownerCart.Count}}</div>
            <div *ngIf="ownerCart.TypeId == cartTypeEnum.Epic" class="c-alert c-alert--brand">{{ownerCart.Count}}</div>
            <div *ngIf="ownerCart.TypeId == cartTypeEnum.Rare" class="c-alert c-alert--info">{{ownerCart.Count}}</div>
            <div *ngIf="ownerCart.TypeId == cartTypeEnum.Common" class="c-alert c-alert--success">{{ownerCart.Count}}</div>
          </ng-container>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--width-70" *ngIf="currentWord">
        <div class="o-grid o-grid--no-gutter">
          <div class="o-grid__cell">
            <div class="c-card c-clashword__cart">
              <div class="c-card__item">{{currentWord.Translation}}</div>
              <div class="c-card__item" *ngIf="currentWord.Image">
                <img class="o-image" src="{{currentWord.Image}}">
              </div>
              <div class="c-card__item">Original: {{currentWord.Word}}</div>
            </div>
          </div>
          <div class="o-grid__cell">
            <div class="o-grid">
              <div class="o-grid__cell">
                <img class="o-image" src="/img/characters/{{currentWord.Character}}.png" width="100px">
              </div>
            </div>
          </div>
          <div class="o-grid__cell" *ngIf="currentAnswer">
            <div class="c-card c-clashword__cart">
              <div class="c-card__item">{{currentAnswer.Word}}</div>
              <div class="c-card__item" *ngIf="currentAnswer.Image">
                <img class="o-image" src="{{currentAnswer.Image}}">
              </div>
              <div class="c-card__item" [ngClass]="setClassAnswer(currentAnswer.IsRight)">Translation: {{currentAnswer.Translation}}</div>
          </div>
        </div>
        </div>
      </div>
      <div class="o-grid__cell o-grid__cell--width-15">
        <div class="c-clashword__shield">
          <ngx-progress [value]="userInfo.ShieldCurrent" [max]="userInfo.ShieldPoints" [css]="'c-progress__bar--warning'" [orientation]="'c-progress-vertical'"></ngx-progress>
        </div>
        <div class="c-alerts c-clashword__toasts">
          <ng-container *ngFor="let userCart of userInfo.Carts">
            <div *ngIf="userCart.TypeId == cartTypeEnum.Legendary" (click)="showCarts(cartTypeEnum.Legendary)" class="c-alert c-alert--warning">{{userCart.Count}}</div>
            <div *ngIf="userCart.TypeId == cartTypeEnum.Epic" (click)="showCarts(cartTypeEnum.Epic)" class="c-alert c-alert--brand">{{userCart.Count}}</div>
            <div *ngIf="userCart.TypeId == cartTypeEnum.Rare" (click)="showCarts(cartTypeEnum.Rare)" class="c-alert c-alert--info">{{userCart.Count}}</div>
            <div *ngIf="userCart.TypeId == cartTypeEnum.Common" (click)="showCarts(cartTypeEnum.Common)" class="c-alert c-alert--success">{{userCart.Count}}</div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell">
        <div class="u-centered">
          <h1 class="c-heading c-heading--xlarge">
            <ng-container *ngIf="!isCurrentUser">
              Ход соперника
            </ng-container>
            <ng-container *ngIf="isCurrentUser">
              Ваш ход
            </ng-container>
            <button (click)="toggleChat()" class="c-button">...</button>
          </h1>
        </div>
      </div>
    </div>
    <div *ngIf="currentWord && currentGame.IsPlay" class="o-grid">
      <ng-container *ngIf="!isViewChat">
        <ng-container *ngIf="!isViewCarts">
          <div class="o-grid__cell" *ngFor="let answerWord of currentWord.Answers">
            <div class="c-card u-highest c-clashword__cart" (click)="answer(answerWord)" [attr.disabled]="isViewAnswer || !isCurrentUser">
              <div class="c-card__item">{{answerWord.Word}}</div>
              <div class="c-card__item" *ngIf="answerWord.Image">
                <img class="o-image" src="{{answerWord.Image}}">
              </div>
              <div class="c-card__item" *ngIf="isViewAnswer" [ngClass]="setClassAnswer(answerWord.IsRight)">Translation: {{answerWord.Translation}}</div>
              <div class="c-card__item" *ngIf="!isViewAnswer" [ngClass]="setClassAnswer(answerWord.IsRight)">Translation: {{answerWord.Translation}}</div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isViewCarts && userCarts">
          <div class="o-grid__cell" *ngFor="let cart of userCarts">
            <div class="c-card u-highest c-card--grouped c-clashword__cart" (click)="useCart(cart)" [attr.disabled]="isViewAnswer || !isCurrentUser">
                <div class="c-card__item c-card__item--brand">Слово: {{cart.word}}</div>
                <div class="c-card__item">Уровень: {{cart.level}}</div>
                <div class="c-card__item">Жизнь: {{cart.countOfUse}}</div>
                <div class="c-card__divider"></div>
                <div class="c-card__item">AttackTower: {{cart.additional.attackTower}}</div>
                <div class="c-card__item">AttackShield: {{cart.additional.attackShield}}</div>
                <div class="c-card__item">RepairTower: {{cart.additional.repairTower}}</div>
                <div class="c-card__item">RepairShield: {{cart.additional.repairShield}}</div>
                <div class="c-card__item c-card__item--divider">{{cartSpecialEnum[cart.additional.specialId]}}: {{cart.additional.specialValue}}</div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="listChatMessages && isViewChat">
        <div class="o-grid__cell" *ngFor="let chatMessage of listChatMessages">
          <div class="c-card" (click)="addChatMessage(chatMessage)">
            <div class="c-card__item" *ngIf="chatMessage.isImage"><img src="{{chatMessage.text}}"></div>
            <div class="c-card__item" *ngIf="!chatMessage.isImage">{{chatMessage.text}}</div>
          </div>
        </div>
      </ng-container>
    </div>

  </div>
  <div *ngIf="!currentGame.IsPlay" class="o-drawer u-highest o-drawer--top o-drawer--visible">
    <div class="c-card">
      <header class="c-card__header">
        <h2 class="c-heading" *ngIf="currentGame.WinnerUserId && currentGame.WinnerUserId === userOpponent.UserId">
          Победитель: {{userOpponent.UserName}}
        </h2>
        <h2 class="c-heading" *ngIf="currentGame.WinnerUserId && currentGame.WinnerUserId === userInfo.UserId">
          Победитель: {{userInfo.UserName}}
        </h2>
        <h2 class="c-heading" *ngIf="!currentGame.WinnerUserId">
          Ничья
        </h2>
      </header>
      <div class="c-card__body">
        <p class="c-paragraph" *ngIf="currentGame.Gold && currentGame.Gold > 0">Выиграл: {{currentGame.Gold}} золота</p>
        <p class="c-pagination" *ngIf="currentGame.Chest">Выигран сундук: {{chestTypeEnum[currentGame.Chest.TypeId]}}</p>
      </div>
      <footer class="c-card__footer">
        <button (click)="startGame()" class="c-button c-button--ghost" type="button">Battle</button>
        <button [routerLink]="['/cw/index']" class="c-button c-button--ghost" type="button">Index</button>
      </footer>
    </div>
  </div>
</ng-container>