<ng-container *ngIf="userCarts">
  <div class="o-grid o-grid--wrap">
    <div *ngIf="cefrList" class="o-grid__cell o-grid__cell--width-25">
      <div class="o-form-element">
        <label class="c-label" for="fromCefr">CEFR Word</label>
        <select id="fromCefr" [ngModel]="filter.cefr" (ngModelChange)="onChangeFromCefr($event)" class="c-field">
          <option [ngValue]="null"></option>
          <option *ngFor="let cefr of cefrList" [ngValue]="cefr">{{cefr}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="typeList" class="o-grid__cell o-grid__cell--width-25">
      <div class="o-form-element">
        <label class="c-label" for="fromType">Type Cart</label>
        <select id="fromType" [ngModel]="filter.typeId" (ngModelChange)="onChangeFromType($event)" class="c-field">
          <option [ngValue]="null"></option>
          <option *ngFor="let type of typeList" [ngValue]="type">{{cartTypeEnum[type]}}</option>
        </select>
      </div>
    </div>
    <div *ngIf="letterList" class="o-grid__cell o-grid__cell--width-25">
      <div class="o-form-element">
        <label class="c-label" for="fromLetter">Letter</label>
        <select id="fromLetter" [ngModel]="filter.letter" (ngModelChange)="onChangeFromLetter($event)" class="c-field">
          <option [ngValue]="null"></option>
          <option *ngFor="let letter of letterList" [ngValue]="letter">{{letter}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="o-grid o-grid--wrap">
    <div class="o-grid__cell o-grid__cell--width-25" *ngFor="let cart of userCarts | carts_filter: filter">
      <div class="c-card u-highest c-card--grouped">
        <div class="c-card__item c-card__item--brand">Слово: {{cart.word}}</div>
        <div class="c-card__item">
          Уровень: {{cart.level}}
          <ng-container *ngIf="cart.update">
            ({{cart.update.level}})
          </ng-container>
        </div>
        <div class="c-card__item">
          Тип: {{cartTypeEnum[cart.typeId]}}
        </div>
        <div class="c-card__item">
          Жизнь: {{cart.countOfUse}}
        </div>
        <div class="c-card__item c-card__item--success cursor-pointer" *ngIf="cart.cost > 0" (click)="update(cart)">Улучшить: {{cart.cost}}$</div>
        <div class="c-card__item" *ngIf="cart.cost === 0">
          Кол-во: {{cart.count}}
          <ng-container *ngIf="cart.update">
             / {{cart.update.count}}
          </ng-container>
        </div>
        <div class="c-card__divider"></div>
        <div class="c-card__item">
          AttackTower: {{cart.additional.attackTower}}
          <ng-container *ngIf="cart.update">
            ({{cart.update.attackTower}})
          </ng-container>
        </div>
        <div class="c-card__item">
          AttackShield: {{cart.additional.attackShield}}
          <ng-container *ngIf="cart.update">
            ({{cart.update.attackShield}})
          </ng-container>
        </div>
        <div class="c-card__item">
          RepairTower: {{cart.additional.repairTower}}
          <ng-container *ngIf="cart.update">
            ({{cart.update.repairTower}})
          </ng-container>
        </div>
        <div class="c-card__item">
          RepairShield: {{cart.additional.repairShield}}
          <ng-container *ngIf="cart.update">
            ({{cart.update.repairShield}})
          </ng-container>
        </div>
        <div class="c-card__item c-card__item--divider">
          {{cartSpecialEnum[cart.additional.specialId]}}: {{cart.additional.specialValue}}
        </div>
      </div>
    </div>
  </div>
</ng-container>
