<nav data-attr="old">
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
  <a [routerLink]="['/game/education']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Game Education</a>
  <a [routerLink]="['/dictionary']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Dictionary</a>
  <a [routerLink]="['/cw/index']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Clash World</a>
  <a [routerLink]="['/user/settings']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">User Settings</a>
  <a [routerLink]="['/user/info']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">User Info</a>
  <a [routerLink]="['/clans']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Clans</a>
  <a [routerLink]="['/clan/chat']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Clan chat</a>
  <a [routerLink]="['/logout']">{{ 'Shared.SingOut' | translate }}</a>
</nav>

