<div class="o-grid" *ngIf="modeList && cefrList && posList && langList && topicList">
  <div class="o-grid__cell o-grid__cell--width-25">
    <div class="o-form-element">
      <label class="c-label" for="modeId">Mode</label>
      <select id="modeId" [disabled]="isStart" [ngModel]="filter.modeId" (ngModelChange)="onChangeMode($event)" class="c-field">
        <option *ngFor="let mode of modeList" value="{{mode.key}}">{{mode.text}}</option>
      </select>
    </div>
    <div class="o-form-element">
      <label class="c-label" for="cefrId">A frequency dictionary (AFD)</label>
      <select id="cefrId" [disabled]="isStart" [ngModel]="filter.cefrId" (ngModelChange)="onChangeCefr($event)" class="c-field">
        <option *ngFor="let cefr of cefrList" value="{{cefr.key}}">{{cefr.text}}</option>
      </select>
    </div>
    <div class="o-form-element">
      <label class="c-label" for="posId">Part Of Speech</label>
      <select id="posId" [disabled]="isStart" [ngModel]="filter.posId" (ngModelChange)="onChangePos($event)" class="c-field">
        <option *ngFor="let pos of posList" value="{{pos.key}}">{{pos.text}}</option>
      </select>
    </div>
    <div class="o-form-element">
      <label class="c-label" for="topicId">Topic</label>
      <select id="topicId" [disabled]="isStart" [ngModel]="filter.topicId" (ngModelChange)="onChangeTopic($event)" class="c-field">
        <option *ngFor="let topic of topicList" value="{{topic.key}}">{{topic.text}}</option>
      </select>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell">Score</div>
      <div class="o-grid__cell">{{score}}</div>
    </div>
    <div class="o-grid">
      <div class="o-grid__cell">Words</div>
      <div class="o-grid__cell">{{words}}</div>
    </div>
  </div>
  <div class="o-grid__cell o-grid__cell--width-75">
    <div class="o-grid">
      <div class="o-grid__cell">
        <div class="o-form-element">
          <label class="c-label" for="fromlang">My native language</label>
          <select id="fromlang" [disabled]="isStart" [ngModel]="filter.fromlang" (ngModelChange)="onChangeFromLang($event)" class="c-field">
            <option *ngFor="let myLang of langList" value="{{myLang.key}}">{{myLang.text}}</option>
          </select>
        </div>
      </div>
      <div class="o-grid__cell">
        <div class="o-form-element">
          <label class="c-label" for="destLang">Language to learn</label>
          <select id="destLang" [disabled]="isStart" [ngModel]="filter.destLang" (ngModelChange)="onChangeDestLang($event)" class="c-field">
            <option *ngFor="let myLang of langList" value="{{myLang.key}}">{{myLang.text}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="o-grid">
      <div *ngIf="enabledStart" class="o-grid__cell o-grid__cell--width-50">
        <span class="c-input-group">
          <button [disabled]="isStart" (click)="start()" [class.c-button--active]="!isStart" class="c-button c-button--ghost" type="button">Start</button>
          <button [disabled]="!isStart" (click)="stop()" [class.c-button--active]="isStart" class="c-button c-button--ghost" type="button">Stop</button>
        </span>
      </div>
      <div *ngIf="enabledStart && isStart" class="o-grid__cell o-grid__cell--width-50">
        <count-down [state]="cdState" [duration]="duration" (onFinish)="onFinish($event)"></count-down>
      </div>
    </div>
    <section *ngIf="isStart === true && task && (filter.modeId === 'Vocabulary' || filter.modeId === 'Cart' || filter.modeId === 'Audio')">
      <div *ngIf="task.word.original" class="o-grid">
        <div class="o-grid__cell"><h1>{{task.word.original}} (<small>{{task.word.pos}}</small>)</h1></div>
        <div *ngIf="task.word.translation" class="o-grid__cell"><h1>{{task.word.translation}}</h1></div>
      </div>
      <div class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-50">
          <img *ngIf="task.word.image" [src]="task.word.image" width="240px" height="240px">
        </div>
        <div class="o-grid__cell o-grid__cell--width-50">
          <audio-component *ngIf="task.word.sound" [file]="task.word.sound"></audio-component>
          <div class="o-grid">
            <div class="o-grid__cell">
              <label class="c-label">Примеры</label>
              <span class="c-input-group">
            <button [disabled]="isViewHelp" (click)="viewHelp()" [class.c-button--active]="!isViewHelp" class="c-button c-button--ghost" type="button">On</button>
            <button [disabled]="!isViewHelp" (click)="viewHelp()" [class.c-button--active]="isViewHelp" class="c-button c-button--ghost" type="button">Off</button>
          </span>
            </div>
          </div>
          <div *ngIf="isViewHelp === true && task.word.explanation" class="o-grid">
            <div class="o-grid__cell o-grid__cell--width-25">Explanation</div>
            <div class="o-grid__cell o-grid__cell--width-75">{{task.word.explanation}}</div>
          </div>
          <div *ngIf="isViewHelp === true  && task.word.phrase" class="o-grid">
            <div class="o-grid__cell o-grid__cell--width-25">Dictionary phrase</div>
            <div class="o-grid__cell o-grid__cell--width-75">{{task.word.phrase}}</div>
          </div>
          <div *ngIf="isViewHelp === true && task.word.example" class="o-grid">
            <div class="o-grid__cell o-grid__cell--width-25">Learner example</div>
            <div class="o-grid__cell o-grid__cell--width-75">{{task.word.example}}</div>
          </div>
        </div>
      </div>
      <div *ngIf="task.dWords" class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-50">
          <button [disabled]="disabled" (click)="answer(task.dWords[0])" class="{{cssButton + ' ' + task.dWords[0].css}}" type="button">{{task.dWords[0].value}}</button>
        </div>
        <div class="o-grid__cell o-grid__cell--width-50">
          <button [disabled]="disabled" (click)="answer(task.dWords[1])" class="{{cssButton + ' ' + task.dWords[1].css}}" type="button">{{task.dWords[1].value}}</button>
        </div>
      </div>
      <div *ngIf="task.dWords" class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-50">
          <button [disabled]="disabled" (click)="answer(task.dWords[2])" class="{{cssButton + ' ' + task.dWords[2].css}}" type="button">{{task.dWords[2].value}}</button>
        </div>
        <div class="o-grid__cell o-grid__cell--width-50">
          <button [disabled]="disabled" (click)="answer(task.dWords[3])" class="{{cssButton + ' ' + task.dWords[3].css}}" type="button">{{task.dWords[3].value}}</button>
        </div>
      </div>
      <div *ngIf="isViewNext === true" class="o-grid">
        <div class="o-grid__cell">
          <button (click)="next()" class="c-button c-button--default education-button" type="button">Next</button>
        </div>
      </div>
    </section>
    <section *ngIf="isStart === true && task && filter.modeId === 'Match'">
      <div class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-50">
          <ul>
            <li *ngFor="let source of task.sWords"><button (click)="sourceMatch(source)" [disabled]="isChecked === true" class="{{cssButton + ' ' + source.css}}" type="button">{{source.value}}</button></li>
          </ul>
        </div>
        <div class="o-grid__cell o-grid__cell--width-50">
          <ul>
            <li *ngFor="let answer of task.dWords"><button (click)="answerMatch(answer)" [disabled]="isChecked === false" class="{{cssButton + ' ' + answer.css}}" type="button">{{answer.value}}</button></li>
          </ul>
        </div>
      </div>
      <div *ngIf="isViewNext === true" class="o-grid">
        <div class="o-grid__cell">
          <button (click)="next()" class="c-button c-button--default education-button" type="button">Next</button>
        </div>
      </div>
    </section>
    <section *ngIf="isStart === true && task && (filter.modeId === 'Write' || filter.modeId === 'Listen')">
      <div class="o-grid">
        <div class="o-grid__cell o-grid__cell--width-50"><img [src]="task.word.image" width="240px" height="240px"></div>
        <div *ngIf="filter.modeId === 'Write'" (click)="help()" class="o-grid__cell o-grid__cell--width-50"><button class="c-button" type="button">Подсказка</button></div>
        <div *ngIf="filter.modeId === 'Listen'" class="o-grid__cell o-grid__cell--width-50"><audio-component [file]="task.word.sound"></audio-component></div>
      </div>
      <div *ngIf="filter.modeId === 'Listen'" class="o-grid">
        <div class="o-grid__cell"><button (click)="help()" class="c-button" type="button">Подсказка</button></div>
      </div>
      <div class="o-grid">
        <div class="o-grid__cell"><h1>{{task.word.original}} (<small>{{task.word.pos}}</small>)</h1></div>
      </div>
      <div class="o-grid">
        <div class="o-grid__cell">
          <span class="c-input-group">
            <button *ngFor="let sLetter of task.sLetters" class="c-button" type="button">{{sLetter}}</button>
            <button [disabled]="disabled" *ngIf="isCheck" (click)="check()" class="c-button c-button--ghost-brand" type="button">Проверить</button>
            <button [disabled]="disabled" (click)="reset()" class="c-button c-button--ghost" type="button">Сбросить</button>
          </span>
        </div>
      </div>
      <div class="o-grid">
        <div class="o-grid__cell">
          <span class="c-input-group">
            <button *ngFor="let dLetter of task.dLetters" (click)="letter(dLetter)" class="c-button c-button--brand" type="button">{{dLetter}}</button>
          </span>
        </div>
      </div>
      <div *ngIf="isViewNext === true" class="o-grid">
        <div class="o-grid__cell">
          <button (click)="next()" class="c-button c-button--default education-button" type="button">Next</button>
        </div>
      </div>
    </section>
    <section *ngIf="isStart === true && loading === false && !task">
      <div class="o-grid">
        <div class="o-grid__cell"><h1>Нет слов для изучения</h1></div>
      </div>
    </section>
  </div>
</div>
