    <div class="o-grid__cell" *ngIf="settings && groups && groups.length > 0">
      <cw-groups-list-item *ngFor="let group of groups" [group]="group" [clanId]="settings.clanId" (joinGroup)="join($event)">
      </cw-groups-list-item>
    </div>
