  <div class="c-card">
    <div class="c-card__item">
      <div class="c-input-group">
        <div class="o-field">
          <input class="c-field" [(ngModel)]="query.title" (keyup.enter)="search()">
        </div>
        <button class="c-button c-button--brand" (click)="search()">Поиск</button>
      </div>
    </div>
  </div>
