<ng-container *ngIf="settings">
  <div class="c-overlay"></div>
  <div class="o-modal o-modal--full">
    <div class="c-card">
      <header class="c-card__header">
        <button type="button" class="c-button c-button--close" [routerLink]="['/clans']">×</button>
        <h2 class="c-heading">Создание клана</h2>
      </header>
      <div class="c-card__body">
        <label class="c-label">
          Название клана:
          <input class="c-field c-field--label" [(ngModel)]="group.title" type="text" required>
          <div class="c-hint">Введите название клана</div>
        </label>
        <label class="c-label">
          Описание клана:
          <input class="c-field c-field--label" [(ngModel)]="group.description" type="text">
          <div class="c-hint">Введите Описание клана</div>
        </label>
        <label class="c-label">
          Тип:
          <select class="c-field" [(ngModel)]="group.accessId">
            <option [value]="1">Открытый</option>
            <option [value]="2">По приглашению</option>
            <option [value]="3">Закрытый</option>
          </select>
        </label>
        <label class="c-label">
          Необходимо трофеев:
          <input class="c-field c-field--label" [(ngModel)]="group.trophies" type="number" OnlyNumber="true" required>
          <div class="c-hint">Введите кол-во трофеев для вступления в клан</div>
        </label>
        <label *ngIf="errors" class="c-label">
          <span class="u-color-error">{{errors}}</span>
        </label>
      </div>
      <footer class="c-card__footer">
        <button (click)="create()" type="button" class="c-button c-button--brand" [disabled]="settings.balanceGold < 0">Создать 100$</button>
      </footer>
    </div>
  </div>
</ng-container>

