  <div class="c-card__item o-media">
    <div class="o-media__body">
      <h2 class="c-heading">{{title}} <span class="c-heading__sub">{{description}}</span></h2>
      <p class="c-paragraph">{{access}}</p>
      <button *ngIf="isViewJoinBtn" type="button" class="c-button" (click)="join()">Вступить</button>
    </div>
  </div>
