<ng-container *ngIf="settings">
    <div class="c-card">
      <div class="c-card__body">
        <label class="c-label">
          Сообщение:
          <input class="c-field c-field--label" [(ngModel)]="message.message" type="text" required>
          <div class="c-hint">Введите Сообщение</div>
        </label>
        <label *ngIf="errors" class="c-label">
          <span class="u-color-error">{{errors}}</span>
        </label>
      </div>
      <footer class="c-card__footer">
        <button (click)="create()" type="button" class="c-button c-button--brand">Создать</button>
      </footer>
    </div>
</ng-container>

