<div *ngIf="group" class="c-card__item o-media">
  <div class="o-media__body">
    <h2 class="c-heading">{{title}}
      <span class="c-heading__sub">{{description}}</span>
      <button type="button" class="c-button" (click)="leave()">Выход</button>
    </h2>
  </div>
</div>
