.login {
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -25%;
  border-radius: 5px;
  text-align: left;
  background-image: url("/img/bg-auth.png");
  background-color: #fff;
  width: 670px;
  color: #ffffff;
  padding: 10px;
  z-index: 11;
  & .color-yellow {
    color: #ffff00;
  }
  & .header {
    height: 80px;
    &-left, &-right {
      height: 50px;
    }
    &-left {
      float: left;
      width: 440px;
      & > div {
        text-align: left;
        font-size:  36px;
        height:     24px;
        & > small {
          font-size: 20px;
          height:    20px;
          color:     #ffff00;
        }
      }
    }
    &-right {
      border:  1px solid #ffff00;
      float:   right;
      width:   150px;
      padding: 5px 10px 0;
      color:   #ffff00;
      & > span {
        display:   inline-block;
        font-size: 14px;
        height:    18px;
      }
    }
  }
  & .info {
    clear: both;
    & > span {
      line-height:   50px;
      margin-bottom: 10px;
      font-size:     26px;
      &.color-yellow {
        font-size: 34px;
      }
    }
    & ul.features {
      margin-bottom: 10px;
      & li {
        font-size:   20px;
        line-height: 26px;
        &:before {
          content:       '+';
          padding-right: 5px;
          color:         #ffff00;
        }
      }
    }
    & > small {
      display: inline-block;
      line-height:   20px;
    }
  }
  & .actions {
    display: inline-block;
    height: 45px;
    text-transform: uppercase;
    width: 650px;
    & .auth{
      background-color: #008000;
      display: inline-block;
      height: 40px;
      padding: 5px 10px;
      width: 300px;
      float: left;
      cursor: pointer;
      & > div {
        width: 80px;
        float: left;
        line-height: 30px;
      }
      & .u-login{
        display: inline-block;
        height: 30px;
        float: right;
        width: 187px;
      }
    }
    &-guest {
      color: #120a8f;
      background-color: #fff;
      padding: 5px 10px;
      & .btn {
        display: block;
        margin-top: 10px;
        padding: 8px 16px;
      }
    }
    & .registration {
      float: left;
      background-color: #008000;
      display: inline-block;
      width: 120px;
      line-height: 40px;
      text-align: center;
      margin-left: 10px;
      & a {
        text-decoration: none;
        color: #ffffff;
      }
    }
    & .guest {
      float: left;
      background-color: #008000;
      display: inline-block;
      width: 70px;
      line-height: 40px;
      text-align: center;
      margin-left: 10px;
      cursor: pointer;
    }
    & .lang {
      float: left;
      background-color: #008000;
      display: inline-block;
      width: 130px;
      line-height: 40px;
      text-align: center;
      margin-left: 10px;
      cursor: pointer;
      &_dropdown {
        display: inline-block;
        position: relative;
        width: 130px;
        & .label {
          vertical-align: middle;
        }
        &_links {
          background-color: white;
          box-shadow: 0 3px 10px 0 rgba(174, 174, 174, 0.5);
          display: none;
          position: absolute;
          right: 0;
          text-align: left;
          top: 40px;
          width: 130px;
          z-index: 2;
          & > span {
            color: #4f6173;
            display: inline-block;
            padding: 0 10px;
            text-decoration: none;
            text-align: right;
            width: 110px;
            &:hover {
              background-color: #60bcfa;
              color: white;
            }
          }
        }
      }
      &:hover .lang_dropdown_links {
        display: block;
      }
    }
  }
}
