.c-button {
  background-color: #e0e2e5;
  border: medium none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 32px;
  margin: 0;
  padding: 0 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  vertical-align: middle;
  white-space: nowrap;
  &:hover {
    background-color: #eeeff1;
    color: #fff;
    cursor: pointer;
  }
  &:focus {
    outline: medium none;
  }
  &:visited {
    color: #fff;
  }
  &.active {
    background-color: #e0e2e5;
    box-shadow: none;
  }
  &.disabled {
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }

  &--default {
    background-color: #120a8f;
    &:hover {
      background-color: #008000;
    }
  }
  &--grey {
    background-color: #d2d6da;
    color: #92969a;
    &:hover {
      background-color: #d9dfe4;
      color: #92969a;
    }
  }
  &--green {
    background-color: #008000;
    &:hover {
      background-color: #120a8f;
    }
  }
}
