.c-clashword-block {
  height: 400px;
}
.c-alerts.c-clashword__toasts {
  position: relative;
  width: 1.8em;
  float: left;
  &--right {
    float: right;
  }
  & > .c-alert {
    margin: 0;
    border-radius: 0;
    padding: 0.5em;
  }
}

.c-clashword__cart {
  cursor: pointer;
  width: 110px;
  @media (min-width: 48em) {
    width: 160px;
  }
}

.c-clashword-bg {
  background: url("/img/bg-castle.jpg") no-repeat center center;
  min-height: 600px;
}

.c-card {
  margin: 1em 0;
}

.c-clashword__shield {
  position: relative;
  width: 3em;
  height: 8.5em;
  float: left;
  &--right {
    float: right;
  }
  .c-progress-vertical {
    height: 100%;
  }
}
