.form_standard {
  display:  block;
  margin:   0;
  box-shadow: 0 3px 5px 0 rgba(174, 174, 174, 0.5);
  padding: 15px;
  position: relative;
  & .form-section {
    &__title {
      border:         0 none;
      box-sizing:     border-box;
      color:          #5d6577;
      display:        block;
      font-size:      16px;
      font-weight:    700;
      margin:         0 20px;
      padding:        0 20px;
      text-transform: none;
      &_border {
        box-sizing: border-box;
        margin:     0;
        width: 100%;
        margin-bottom: 15px;
        &::after {
          border-bottom: 1px solid #dcdfe0;
          content:       "";
          display:       block;
        }
      }
    }

    & .form-control, .completer-input {
      background-color: #e0e6e7;
      border:           1px solid transparent;
      box-shadow:       none;
      box-sizing:       border-box;
      color:            #48525b;
      display:          block;
      font-size:        14px;
      height:           40px;
      line-height:      1.5;
      padding:          10px 15px;
      transition:       all 0.15s ease-in-out 0s;
      vertical-align:   middle;
      width:            100%;
      &:focus {
        background-color: #fff;
        border:           1px solid #c6d3d5;
        outline:          medium none;
      }
      &[disabled], &[readonly] {
        background-color: #eeeeee;
        cursor:           not-allowed;
      }
      &.input-validation-error {
        border-color: #ea7e5d;
      }
    }

    &[disabled] .form-control {
      background-color: #eeeeee;
      cursor:           not-allowed;
    }
  }
}

.form-fields {
  list-style: none;
  padding: 0 20px;
  & .field {
    min-height: 45px;
    position: relative;
  }
  &__group {
    max-width: 485px;
    width: 100%;
    &:last-child{
      margin-bottom: 20px;
    }
  }
  &__group_buttons {
    background-color: #f3f5f7;
    border-top: 1px solid #dcdfe0;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    width: 100%;
  }
}

.form-content {
  box-shadow: 0 3px 5px 0 rgba(174, 174, 174, 0.5);
  padding: 15px;
}

.o-form-auth {
  & .o-form-element {
    padding: 0;
  }
  & .c-field {
    margin: 0;
    &:focus ~ .c-hint {
      margin-bottom: 10px;
    }
  }
}
