/* Reset */
html,
body,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* overlay styles, all needed */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}

ul {
  list-style: none;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.page {
  margin-left: 300px;
  margin-right: 300px;
  min-width: 633px;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
}

form.o-container {
  box-shadow: 0 3px 5px 0 rgba(174, 174, 174, 0.5);
  padding: 15px;
}
.completer-input {
  font-size: 1em;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #96a8b2;
  border-radius: 4px;
}
.completer-description {
  float: left;
  padding-right: 5px;
  & > .completer-list-item {
    border:1px solid #96a8b2;
    background-color:#96a8b2;
    color:#fff;
    display:inline-block;
    margin:0;
    padding:.25em .5em;
    border-radius:4px;
    font-size:.8em;
    font-weight:700;
    line-height:1.2;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.page-main {
  display: flex;
  height: calc(100vh - 96px);
  flex-direction: column;
}

.page-content {
  flex: 1;
  overflow-y: auto;
}
