  <div class="c-card" *ngIf="info">
    <div class="c-card__item">
      <p class="c-paragraph">Баланс золота: {{info.balanceGold}}</p>
      <p class="c-paragraph">Трофеи: {{info.clashWordTrophies}}</p>
      <p class="c-paragraph">Арена: {{info.clashWordZone}}</p>
      <p class="c-paragraph">Уровень: {{info.clashWordLevel}}</p>
      <p class="c-paragraph">Очки: {{info.clashWordPoints}}</p>
      <p class="c-paragraph">ClanId: {{info.clanId}}</p>
    </div>
  </div>
  <div class="c-card">
    <div class="c-card__item">
      <button class="c-button" type="button" (click)="reset()">Clear Cache</button>
    </div>
  </div>
