<div class="c-tabs c-tabs--brand">
  <div class="c-tabs__headings">
      <div class="c-tab-heading" *ngFor="let tab of tabs" [class.c-tab-heading--active]="tab == activeTab" (click)="tabLabelClick(tab)">
          <ng-template [ngTemplateOutlet]="tab.label.templateRef"></ng-template>
      </div>
  </div>
  <div class="c-tabs__tab c-tabs__tab--active">
      <ng-template *ngIf="activeTab" [ngTemplateOutlet]="activeTab.content.templateRef"></ng-template>
  </div>
</div>
