<div class="c-progress {{orientation}} {{size}}">
  <ng-container *ngIf="width < 90">{{max}}</ng-container>
  <div class="c-progress__bar {{css}}" [style.width.%]="width" [style.height.%]="height">{{value}}</div>
</div>
