<div class="page">
  <form name="registration" class="form_standart" (ngSubmit)="f.form.valid && registration()" #f="ngForm" novalidate>
    <fieldset class="form-section">
      <legend class="form-section__title form-section__title_border">{{ 'Views.Registration.Title' | translate }}</legend>
      <ul class="form-fields">
        <li class="form-fields__group">
          <label for="email" class="b-section__form-label">{{ 'Views.Registration.Email' | translate }}</label>
          <div class="field">
            <input id="email" name="email" [(ngModel)]="model.email" #email="ngModel" type="email" class="form-control" required>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="email" class="b-section__form-label">{{ 'Views.Registration.Password' | translate }}</label>
          <div class="field">
            <input id="password" name="password" [(ngModel)]="model.password" #password="ngModel" type="password" class="form-control" required>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="secondName" class="b-section__form-label">{{ 'Views.Registration.SecondName' | translate }}</label>
          <div class="field">
            <input id="secondName" name="secondName" [(ngModel)]="model.secondName" #secondName="ngModel" type="text" class="form-control" required>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="firstName" class="b-section__form-label">{{ 'Views.Registration.FirstName' | translate }}</label>
          <div class="field">
            <input id="firstName" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" type="text" class="form-control" required>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="secondName" class="b-section__form-label">{{ 'Views.Registration.MiddleName' | translate }}</label>
          <div class="field">
            <input id="middleName" name="middleName" [(ngModel)]="model.middleName" #middleName="ngModel" type="text" class="form-control">
          </div>
        </li>
        <li class="form-fields__group">
          <label for="mobile" class="b-section__form-label">{{ 'Views.Registration.Mobile' | translate }}</label>
          <div class="field">
            <input id="mobile" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" type="text" class="form-control">
          </div>
        </li>
        <li class="form-fields__group">
          <label for="country" class="b-section__form-label">{{ 'Views.Registration.Country' | translate }}</label>
          <div class="field">
            <ng2-completer [dataService]="dataGeoCountryCompleter"
                           [minSearchLength]="2" [placeholder]="'search country'"
                           (selected)="onCountrySelected($event)" [textSearching]="'Please wait...'"
                           id="country" name="country" [(ngModel)]="model.country" #country="ngModel" required>
            </ng2-completer>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="region" class="b-section__form-label">{{ 'Views.Registration.MiddleName' | translate }}</label>
          <div class="field">
            <ng2-completer [dataService]="dataGeoRegionCompleter"
                           [minSearchLength]="2" [placeholder]="'search region'"
                           (selected)="onRegionSelected($event)" [textSearching]="'Please wait...'"
                           id="region" name="region" [(ngModel)]="model.region" #country="ngModel" required>
            </ng2-completer>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="city" class="b-section__form-label">{{ 'Views.Registration.City' | translate }}</label>
          <div class="field">
            <ng2-completer [dataService]="dataGeoCityCompleter"
                           [minSearchLength]="2" [placeholder]="'search city'"
                           (selected)="onCitySelected($event)" [textSearching]="'Please wait...'"
                           id="city" name="city" [(ngModel)]="model.city" #country="ngModel" required>
            </ng2-completer>
          </div>
        </li>
        <li class="form-fields__group">
          <label for="street" class="b-section__form-label">{{ 'Views.Registration.Street' | translate }}</label>
          <div class="field">
            <input id="street" name="street" [(ngModel)]="model.street" #street="ngModel" type="text" class="form-control">
          </div>
        </li>
        <li class="form-fields__group">
          <label for="home" class="b-section__form-label">{{ 'Views.Registration.Home' | translate }}</label>
          <div class="field">
            <input id="home" name="home" [(ngModel)]="model.home" #home="ngModel" type="text" class="form-control">
          </div>
        </li>
        <li class="form-fields__group">
          <label for="flat" class="b-section__form-label">{{ 'Views.Registration.Flat' | translate }}</label>
          <div class="field">
            <input id="flat" name="flat" [(ngModel)]="model.flat" #flat="ngModel" type="text" class="form-control">
          </div>
        </li>
      </ul>
    </fieldset>
    <div class="form-fields__group_buttons">
      <button class="c-button c-button--grey" type="reset">{{ 'Shared.Cancel' | translate }}</button>
      <button [disabled]="loading" class="c-button c-button--success">{{ 'Shared.Registration' | translate }}</button>
      <button [routerLink]="['/password_restore']" type="button" class="c-button c-button--brand">{{ 'Shared.RestorePassword' | translate }}</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <span *ngIf="error" class="validation-error">{{error}}</span>
    </div>
  </form>
</div>
