<cw-group-messages-header [group]="group$ | async" (leaveGroup)="leave($event)"></cw-group-messages-header>
<cw-group-messages-list [messages]="messages$ | async"></cw-group-messages-list>
<cw-group-messages-create [settings]="settings$ | async"></cw-group-messages-create>
