﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Html.Raw(this.ViewBag.Title as string)</title>
    <meta name="description" content="@Html.Raw(this.ViewBag.MetaDescription as string)" />
    <meta name="keywords" content="@Html.Raw(this.ViewBag.MetaKeywords as string)" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- inject:css -->
    <!-- endinject -->
    @RenderSection("StyleSheets", false)
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

@RenderBody()
@RenderSection("Scripts", false)

</body>
</html>
