﻿  <sd-app>Loading...</sd-app>
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.1.js"></script>
  <script src="//ulogin.ru/js/ulogin.js"></script>
  <script>
    // Fixes undefined module function in SystemJS bundle
    function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <script src="/signalr/js"></script>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->
