<overlay-loading [isLoading]="loading"></overlay-loading>
<div class="o-grid">
  <div class="o-grid__cell o-grid__cell--width-25">
    <div class="o-form-element">
      <label class="c-label" for="fromlang">My native language</label>
      <select id="fromlang" [ngModel]="wordModel.from" (ngModelChange)="onChangeFromLang($event)" class="c-field">
        <option *ngFor="let mode of langList" value="{{mode.key}}">{{mode.text}}</option>
      </select>
    </div>
  </div>
  <div class="o-grid__cell o-grid__cell--width-25">
    <div class="o-form-element">
      <label class="c-label" for="destLang">Language to learn</label>
      <select id="destLang" [ngModel]="wordModel.dest" (ngModelChange)="onChangeDestLang($event)" class="c-field">
        <option *ngFor="let mode of langList" value="{{mode.key}}">{{mode.text}}</option>
      </select>
    </div>
  </div>
  <div class="o-grid__cell o-grid__cell--width-50" *ngIf="wordModel.from !== wordModel.dest">
    <div class="o-form-element">
      <label class="c-label" for="wordId">Введите слово</label>
      <span class="c-input-group">
        <div class="o-field">
          <ng2-completer [dataService]="wordService"
                         [minSearchLength]="2" [placeholder]="'search world'"
                         (selected)="onWordSelected($event)" [textSearching]="'Please wait...'"
                         id="wordId" name="wordId" [(ngModel)]="wordModel.word" #wordId="ngModel">
          </ng2-completer>
        </div>
          <button *ngIf="wordModel.word" (click)="searchWord()" class="c-button c-button--ghost" type="button">Search</button>
        </span>
    </div>
  </div>
</div>
<div *ngIf="words">
  <div class="o-grid__cell" *ngFor="let curWord of words">
    <div class="c-tabs__headings c-tabs--info">
      <div class="c-tab-heading c-tab-heading--active">
        <b>[{{curWord.word}}]</b> <span class="c-badge">{{curWord.pos}}</span>
      </div>
    </div>
    <ng-container *ngFor="let curWordItem of curWord.options;">
      <ng-tabs [selectedIndex]="0">
        <ng-tab>
          <ng-template tab-label>Dictionary</ng-template>
          <ng-template tab-content>
            <p class="c-paragraph"><b>[{{curWordItem.order}}]</b> ({{curWordItem.explanation}})</p>
            <p class="c-paragraph">{{curWordItem.word}}
              <audio-component *ngIf="curWordItem.sound" [file]="curWordItem.sound"></audio-component></p>
            <p class="c-paragraph" *ngIf="curWordItem.phrase">{{curWordItem.phrase}}</p>
            <p class="c-paragraph" *ngIf="curWordItem.example">{{curWordItem.example}}</p>
          </ng-template>
        </ng-tab>
        <ng-tab>
          <ng-template tab-label>Examples</ng-template>
          <ng-template tab-content>
            <ul class="c-list c-list--ordered" *ngIf="curWordItem.examples">
              <li class="c-list__item" *ngFor="let example of curWordItem.examples">{{example}}</li>
            </ul>
          </ng-template>
        </ng-tab>
      </ng-tabs>
    </ng-container>
  </div>
</div>
